<%= form_with(model: idiomas_libro, local: true) do |form| %>
  <% if idiomas_libro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idiomas_libro.errors.count, "error") %> prohibited this idiomas_libro from being saved:</h2>

      <ul>
        <% idiomas_libro.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idioma_id %>
    <%= form.text_field :idioma_id %>
  </div>

  <div class="field">
    <%= form.label :libro_id %>
    <%= form.text_field :libro_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
