<p id="notice"><%= notice %></p>

<h1>Idiomas Libros</h1>

<table>
  <thead>
    <tr>
      <th>Idioma</th>
      <th>Libro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @idiomas_libros.each do |idiomas_libro| %>
      <tr>
        <td><%= idiomas_libro.idioma_id %></td>
        <td><%= idiomas_libro.libro_id %></td>
        <td><%= link_to 'Show', idiomas_libro %></td>
        <td><%= link_to 'Edit', edit_idiomas_libro_path(idiomas_libro) %></td>
        <td><%= link_to 'Destroy', idiomas_libro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idiomas Libro', new_idiomas_libro_path %>
