
<div class="form-group">
 <%= simple_form_for(@libro, local: true) do |form| %>
    <%= form.label :nombre, class:'' %>
    <%= form.text_field :nombre, class:'form-control' %>
  

    <%= form.label :idiomas %>
    <%= collection_select(:libro, :idioma_ids, Idioma.all, :id, :nombre, {}, { :multiple => true, :class => 'form-control' } )%>

    <%= form.label :autores %>
    <%= collection_select(:libro, :autor_ids, Autor.all, :id, :nombre, {}, { :multiple => true, :class => 'form-control' } )%>
  
    <%= form.button :submit, 'Crear', class: "btn btn-dark mt-4" %>
  <% end %>
</div>



<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Idiomas</th>
      <th scope="col">Autores</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libros.each do |libro| %>
      <tr>
        <td><%= libro.id %></td>
        <td><%= libro.nombre %></td>
        <td><%= libro.idiomas.map(&:nombre).join(", ") %></td>
        <td><%= libro.autors.map(&:nombre).join(", ") %></td>
        <td><%= link_to 'Show', libro, class: 'text-info' %></td>
        <td><%= link_to 'Edit', edit_libro_path(libro), class: 'text-white' %></td>
        <td><%= link_to 'Destroy', libro, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Libro', new_libro_path %>

