<div class="container">
  <p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @libro.nombre %>
</p>

<p>
  <strong>Idiomas:</strong>
  <%= @libro.idiomas.map(&:nombre).join(', ') %>
</p>

<%= link_to 'Editar', edit_libro_path(@libro) %><br>
<i class="fas fa-file-pdf"><%= link_to 'Mostrar PDF', libro_path(@libro, format: "pdf"), :class => ' text-black pl-3' %></i><br>

<%= link_to 'Volver Atrás', new_libro_path %>
</div>


